<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<p><%= @post.user.fname %> <%= @post.user.lname %> * * * <%= @post.content %></p>
<%= render 'likes/like_posts', object: @post %>
<%= render 'comments/form', object: @post %>
<%= render 'comments/comment', object: @post %>
      <%= link_to 'Delete Post', post_path(@post), method: :delete, data: { confirm: "You sure?" } %>
        <i class="fas fa-trash hover-red"></i>
      
</p>